/* Universal Styles */

html {
  /*font-family: "Roboto", sans-serif;*/
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h1, h2, h3 {
  font-weight: 700;
  color: #404040;
}
/*
span {
  color: #404040;
}
*/
/*
body {
  margin: 0;
}
*/
/*
.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}
*/

/****Remove when done****/

div {
  border: 1px solid black;
}

/****Header****/
header .mobile {
  display: none;
}

header .container {
  display: flex;
  height: 64px;
  align-items: center;
}

header .logo {
  flex-grow: 1;
  height: 32px;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

header nav ul {
  display: flex;
  margin-right: 24px;
}

header nav li {
  padding-left: 1rem;
}

.logo span {
  font-size: 1.17rem;
}

/****Introduction section****/

.intro-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.intro-image {
  margin: 32px 24px;
}

.intro-image-container {
  width: 60%;
}

.introduction {
  display: flex;
  background-color: #d3d3d3;
}

.learn-box {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;*/
  /*flex-wrap: wrap;*/
  /*width: 40%;*/
}

.learn-box span {
  display: block;
  background-color: #404040;
  color: #d3d3d3;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.learn-box h1 {

}

.learn-box h3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.learn-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  width: 30%;
  margin-left: 24px;
}
